@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--1: #002f6c;
	--2: #202936;
	--3: #efefef;
	--4: #d7d8e6;
	--5: #282828;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

:root {
  --font-family: "Onest", sans-serif;
  --second-family: "TT Firs Neue", sans-serif;
  --third-family: "Cera Pro", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Inter", sans-serif;
  --font6: "Gotham Pro", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-custom {
  background-color: #001432;
  backdrop-filter: blur(8.100000381469727px);
  position: relative;
  z-index: 2;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff !important;
  transition: all 0.3s ease;
}

.nav-link.active {
  font-weight: 800;
}

.header-right {
  gap: 40px;
}

.header-tel {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

.order-btn {
  border-radius: 10px;
  padding: 16px 50px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #241b17;
  transition: all 0.3s ease;
  border: none;
}

.order-btn:hover {
  background: var(--1);
  color: #fff ;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero-container {
  padding-top: 100px;
}

.hero-bg {
  position: absolute;
  top: -130px;
  left: -115px;
  width: 45%;
  z-index: -1;
}

.hero-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: var(--2);
  margin-bottom: 30px;
}

.hero-title-container {
  display: flex;
  gap: 24px;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 70px;
  line-height: 108%;
  color: #001432;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000;
  text-wrap: balance;
}

.hero-btn {
  margin-top: 100px;
  border-radius: 10px;
  padding: 3px 0px;
  width: 250px;
  height: 50px;
  background: var(--1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 245%;
  text-align: center;
  color: #fff;
}

.hero-right-bg {
  position: absolute;
  z-index: -1;
  width: 50%;
  right: 10%;
}

.hero-img-2 {
  position: absolute;
  top: 20px;
}

.hero {
  margin-bottom: 15.625rem;
}

section {
  margin-bottom: 200px;
}

.gallery {
  margin-bottom: 130px;
}

.section-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #92989e;
  margin-bottom: 30px;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #000;
}

.section-btn {
  border-radius: 10px;
  width: 250px;
  height: 50px;
  background: var(--2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 245%;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.section-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  margin-left: auto;
}

.info-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.stats-block {
  width: 403px;
  height: 409px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-image: url("../assets/img/setka.png");  
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.stats-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 4%;
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.stats-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 87%;
  text-align: center;
  color: #333;
  text-wrap: balance;
}

.op-0 {
  opacity: 0;
}

.details {
  right: 25%;
  position: absolute;
  top: -20%;
}

.section-divider {
  width: 238px;
  height: 24px;
  background: #d9d9d9;
}

.section-title span {
  color: var(--1);
}

.card-container {
  margin-top: 36px;
}

.card-container-row {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.small-card {
  width: 32.5%;
}

.big-card {
  width: 67.5%;
}

.dir-card {
  background: var(--3);
}

.card-info {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}

.card-info-text span {
  color: var(--1);
}

.card-arrow {
  cursor: pointer;
}

.card-arrow-2 {
  transform: rotate(45deg);
  cursor: pointer;
}

.swiper {
  width: 100%;
  margin-top: 36px;
}

.swiper-slide img {
  width: 100%;
  height: 530px;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-button-next {
  background: url("../assets/img/arrow-right.png");
  width: 80px;
  height: 80px;
  right: 17%;
}

.swiper-button-prev {
  background: url("../assets/img/arrow-left.png");
  width: 80px;
  height: 80px;
  left: 17%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.advantages {
  background: url("../assets/img/advantages-bg.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 35px;
}

.advantages-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  margin-top: 40px;
  height: 250px;
}


.advantage-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  border-top: 3px solid rgb(0, 47, 108, 0.5);
  border-bottom: 3px solid rgb(0, 47, 108, 0.5);
  border-right: 3px solid rgb(0, 47, 108, 0.5);
  position: relative;
}

.advantage-card-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #333;
}

.advantage-card-text span {
  font-weight: 600;
}

.ad-plus-top {
  position: absolute;
  top: -10px;
  right: -10px;
}

.ad-plus-bottom {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.gray-card {
  width: 263px;
  height: 264px;
  background: #d9d9d9;
}

.schema-img {
  margin-top: 27px;
}